<h1>Register</h1>
<table>
  <tr>
    <td>Name</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button>Register</button>
    </td>
  </tr>
</table>